---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Chainbrary">
	<main>
		<h2 class="text-center text-4xl font-semibold py-8 mt-3">Des solutions sur-mesure à votre portée</h2>
		<ul role="list" class="flex flex-col lg:flex-row justify-center items-center gap-8">
			<Card
				image="/images/payment-service.svg"
				title="Demande de Paiement"
				body="Connectez votre portefeuille, créez un ID ou un QRcode et utilisez-le pour recevoir des paiements."
			/>
			<Card
				image="/images/bid-service.svg"
				title="Commencer une Offre"
				body="Téléchargez un article, définissez une limite de temps et commencez à enchérir avec des jetons."
			/>
			<Card
				image="/images/document-service.svg"
				title="Casier de Documents"
				body="Verrouillez les informations confidentielles et ouvrez uniquement avec des jetons."
			/>
		</ul>
	</main>
</Layout>


