---
interface Props {
  title: string;
  body: string;
  image: string;
}

const { image, title, body } = Astro.props;
---

<li
  class="w-5/6 sm:w-2/5 lg:w-1/4 2xl:w-1/5 h-auto rounded-lg overflow-hidden shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]"
>
  <a href="/">
    <img src={image} class="w-100" alt="card" />
    <h2 class="p-3 text-2xl font-semibold">
      {title}
    </h2>
    <p class="p-3 text-[#6c757d]">{body}</p>
    <button
      class="flex m-auto items-center justify-center mb-5 mt-3 w-4/5 text-center text-purple px-7 py-2 rounded-md border-solid border border-purple ease-in duration-100 hover:bg-purple hover:text-white"
      >En savoir plus</button
    >
  </a>
</li>
