---
import { Icon } from "astro-icon/components";
---

<footer class="flex justify-center flex-col items-center mb-5">
  <div class="flex flex-col lg:flex-row lg:items-center w-4/5 mb-5">
    <nav class="flex flex-col w-4/5 mb-5">
      <ul class="flex flex-col gap-3 pb-2">
        <li>
          <a
            href="/"
            class="text-[#6c757d] hover:bg-[#D3D4D5] px-3 py-2 rounded-md ease-in duration-100"
            >Accueil</a
          >
        </li>
        <li>
          <a
            href="/"
            class="text-[#6c757d] hover:bg-[#D3D4D5] px-3 py-2 rounded-md ease-in duration-100"
            >Partenariat</a
          >
        </li>
        <li>
          <a
            href="/"
            class="text-[#6c757d] hover:bg-[#D3D4D5] px-3 py-2 rounded-md ease-in duration-100"
            >Services</a
          >
        </li>
      </ul>
      <ul class="flex flex-col gap-3">
        <li>
          <a
            href="/"
            class="text-[#6c757d] hover:bg-[#D3D4D5] px-3 py-2 rounded-md ease-in duration-100"
            >Conditions Générales de ventes</a
          >
        </li>
        <li>
          <a
            href="/"
            class="text-[#6c757d] hover:bg-[#D3D4D5] px-3 py-2 rounded-md ease-in duration-100"
            >Politique de confidentialité</a
          >
        </li>
        <li>
          <a
            href="/"
            class="text-[#6c757d] hover:bg-[#D3D4D5] px-3 py-2 rounded-md ease-in duration-100"
            >Programme de récompense</a
          >
        </li>
        <li>
          <a
            href="/"
            class="text-[#6c757d] hover:bg-[#D3D4D5] px-3 py-2 rounded-md ease-in duration-100"
            >Livre Blanc</a
          >
        </li>
      </ul>
    </nav>
    <div class="flex flex-col w-4/5 gap-3">
      <a href="/" class="flex items-center gap-x-4">
        <img
          src="/cb-logo.svg"
          alt="chainbrary logo"
          width={35}
          height={35}
          class="object-cover"
        />
        <p class="text-3xl text-zinc-900 font-semibold">ChainBrary</p>
      </a>
      <p class="text-[#6c757d]">
        <span class="text-purple">Apprenez à nous connaître.</span> Vous avez des
        questions? Contactez-nous sur nos réseaux sociaux
      </p>
      <a class="text-4xl hover:bg-[#EEEFF0] p-2 w-14 rounded-lg lg:self-end"
        ><Icon name="mdi:menu" /></a
      >
    </div>
  </div>
  <hr class="bg-[#6c757d] px-10 h-0.5 w-4/5 my-5" />
  <div class="flex flex-col lg:flex-row lg:justify-between w-4/5">
    <div class="flex justify-start gap-1 sm:gap-7 w-4/5">
      <a
        class="text-3xl p-2 hover:bg-[#D3D4D5] px-3 py-2 rounded-md ease-in duration-100"
        ><Icon name="ic:baseline-discord" /></a
      >
      <a
        class="text-3xl p-2 hover:bg-[#D3D4D5] px-3 py-2 rounded-md ease-in duration-100"
        ><Icon name="ph:x-logo" /></a
      >
      <a
        class="text-3xl p-2 hover:bg-[#D3D4D5] px-3 py-2 rounded-md ease-in duration-100"
        ><Icon name="mdi:github" /></a
      >
      <a
        class="text-3xl p-2 hover:bg-[#D3D4D5] px-3 py-2 rounded-md ease-in duration-100"
        ><Icon name="carbon:logo-medium" /></a
      >
      <a
        class="text-3xl p-2 hover:bg-[#D3D4D5] px-3 py-2 rounded-md ease-in duration-100"
        ><Icon name="mdi:facebook" /></a
      >
      <a
        class="text-3xl p-2 hover:bg-[#D3D4D5] px-3 py-2 rounded-md ease-in duration-100"
        ><Icon name="mdi:instagram" /></a
      >
    </div>
    <p class="text-[#6c757d]">Droit d'auteur © 2023 Tous droits réservés</p>
  </div>
</footer>
